<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL57Dialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/cars</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Durduib90</property>

        <property name="show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">validate</property>


        <mapping class="com.sda.app.masini.db.Masina"/>
        <mapping class="com.sda.app.utilizatori.db.Utilizator"/>
    </session-factory>
</hibernate-configuration>
